.loginScreen {
  width: 100%;
  min-height: 100%;
  background-color: var(--dark-grey);
  position: relative;
  color: var(--white);
  &__hero__filter {
    position: absolute;
    width: 100%;
    height: 120vh;
    background: linear-gradient(rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 1));
    top: 0;
    left: 0;
  }
  &__hero {
    width: 100%;
    height: 120vh;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/6dea7743-5586-45d1-89a2-9569b1bb0340/eebe0083-676a-4594-a058-462db62ba1da/AR-en-20220207-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    // border: 2px solid green;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    &__navbar {
      width: 100%;
      height: 90px;
      //   border: 2px solid red;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: var(--content-width);
      img {
        height: 90px;
        cursor: pointer;
      }
      button {
        color: var(--white);
        background-color: var(--dark-grey);
        border-radius: 3px;
        border: 1px solid var(--white-opacity);
        line-height: normal;
        padding: 6px 17px;
        font-weight: 300;
        font-size: 1rem;
        cursor: pointer;
        &:nth-of-type(2) {
          border: none;
          background-color: var(--red);
          margin-left: 2rem;
          &:hover {
            background-color: var(--red-opacity);
          }
        }
      }
    }
  }
  &__features {
  }
}

.loginScreen__hero {
  z-index: 1;
  &__navbar {
    z-index: 4;
  }
  &__welcome {
    z-index: 3;
  }
  &__login {
    z-index: 3;
  }
  &__filter {
    z-index: 2;
  }
}
