.loginScreen__hero__login {
  position: absolute;
  top: 41%;
  transform: translateY(-50%);
  align-self: center;
  justify-self: center;
  background-color: rgba(1, 1, 1, 0.7);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.2% 5.2%;
  width: 35%;
  // border: 2px solid red;
  h1 {
    font-size: 2.2rem;
    align-self: flex-start;
    margin-bottom: 1.8rem;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 2px solid green;
    input,
    button {
      width: 100%;
      padding: 0;
      border: none;
      outline: none;
      height: 50px;
      border-radius: 4px;
      font-size: 1.1rem;
      font-weight: 300;
    }
    input {
      padding: 0 1rem;
      box-sizing: border-box;
      margin-top: 0.9rem;
      margin-bottom: 0.35rem;
      &:nth-of-type(2) {
        // margin-bottom: 2.3rem;
      }
    }
    button {
      height: 47px;
      color: var(--white);
      background-color: var(--red);
      font-size: 1.1rem;
      cursor: pointer;
      margin-top: 1.8rem;
      margin-bottom: 0.35rem;
    }
    .loadingButton {
      background-color: var(--red-opacity);
      cursor: default;
      .loadingIcon {
        font-size: 1.6rem;
        color: var(--white-opacity);
      }
    }
    .errorMessage{
      position: relative;
      color: red;
      font-weight: 300;
      align-self: flex-start;
    }
    .login__extras {
      margin-top: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: 0.9rem;
      font-weight: 300;
      margin-bottom: 1.8rem;
      color: var(--grey);
      &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        input {
          width: 15px;
          height: 15px;
          margin: 0;
          margin-right: 0.3rem;
          accent-color: var(--grey);
          cursor: pointer;
        }
      }
      p {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .subscribeNow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    p {
      color: var(--grey-opacity-more);
      font-size: 1.1rem;
      margin-right: 0.5rem;
    }
    a {
      font-size: 1.1rem;
      color: var(--white);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
