.content {
  width: var(--content-width);
  // border: 2px solid blue;
  background-color: transparent;
  position: relative;
  top: -20vh;
  .row {
    position: relative;
    margin-bottom: 3rem;
    //   border: 2px solid black;
    width: 100%;
    .row__title {
      color: var(--white);
      line-height: 1.25vw;
      font-size: 1.45vw;
      margin-bottom: 0.7rem;
    }
    .swiper {
      height: 100%;
      width: 100%;
        &-slide {
          .moviePreview {
            width: calc(88.5vw / 5);
            border-radius: 4px;
          }
      }
    }
  }
  .largeRow {
    .row__title {
      line-height: 1.5vw;
      font-size: 1.5vw;
      color: var(--red);
    }
    .swiper {
      &-slide {
        .moviePreview {
          width: calc(87.7vw / 7);
        }
      }
    }
  }
  .customRow {
    // border: 2px solid red;
    .row__title {
      line-height: 1.5vw;
      font-size: 1.5vw;
      // color: orange !important;
    }
    .swiper {
      // border: 2px solid blue;
      // height: 100% !important;
      &-slide {
        // border: 2px solid purple;
        // height: 100% !important;
        // color: red;
        .moviePreview {
          height: 9.96vw;
          // width: calc(87.7vw / 7);
          // border: 2px solid green;
          // height: 100% !important;
        }
        .openMovieForm {
          height: 9.96vw;
          background-color: rgba(100, 100, 100, 0.2);
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--grey-opacity-less);
          font-size: 4rem;
          font-weight: 100;
          svg:hover {
            cursor: pointer;
            color: var(--grey-opacity-more);
          }
        }
      }
    }
  }
}
