.content {
  width: var(--content-width);
  // border: 2px solid blue;
  background-color: transparent;
  position: relative;
  top: -20vh;
  .row {
    margin-bottom: 3rem;
    //   border: 2px solid black;
    width: 100%;
    h3 {
      color: var(--white);
      line-height: 1.25vw;
      font-size: 1.45vw;
      margin-bottom: 0.7rem;
    }
    .swiper {
      height: 100%;
      width: 100%;
      &-slide {
        position: relative;
        img {
          width: calc(88.5vw / 5);
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }
  }
  .largeRow{
    h3{
      line-height: 1.5vw;
      font-size: 1.5vw;
    }
    .swiper{
      &-slide{
        img{
          width: calc(87.7vw / 7);
        }
      }
    }
  }
}
