:root {
  --dark-grey: #141414; //background
  --dark-grey-opacity: rgba(14, 14, 14, 0.5);
  --black: black;
  --white: #fff;

  --white-opacity: rgba(255, 255, 255, 0.75);

  --grey-opacity: rgba(109, 109, 110, 0.7);
  --grey-opacity-less: rgba(109, 109, 110, 0.4);
}
