:root {
  --dark-grey: #141414; //background
  --dark-grey-opacity: rgba(14, 14, 14, 0.5);


  --black: black;
  --white: #fff;
  --red: #e50914;
  --red-opacity: rgba(229, 9, 20, 0.75);

  --white-opacity: rgba(255, 255, 255, 0.75);
  --white-opacity-less: rgba(255, 255, 255, 0.55);

  --grey: #b3b3b3;
  --grey-opacity-more: rgba(109, 109, 110, 0.9);
  --grey-opacity: rgba(109, 109, 110, 0.8);
  --grey-opacity-less: rgba(109, 109, 110, 0.6);

  --content-width: 92%;
}
