.navbar {
  position: fixed;
  top: 0;
  //   border: 2px solid red;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-timing-function: ease-in;
  transition: all 0.5s;

  &__contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 2px solid blue;
    height: 100%;
    width: var(--content-width);
    color: var(--white);
    position: relative;

    a {
      text-decoration: none;
    }

    filter: drop-shadow(1px 1px 10px rgba(1, 1, 1, 0.4))
      drop-shadow(1px 1px 10px rgba(1, 1, 1, 0.4));
    .navbar__logo {
      height: 65px;
      cursor: pointer;
    }

    .subscriptionMessage {
      position: absolute;
      width: 260px;
      top: 60px;
      padding: 1rem 1.2rem;
      background: rgba(100, 100, 100, 0.3);
      border-radius: 2px;
      box-shadow: 2px 2px 10px rgba(1, 1, 1, 1);
      font-size: 1.1rem;
      left: 0;
      display: flex;
      flex-direction: column;
      color: var(--white-opacity);
      div {
        display: flex;
        .icon {
          // border: 2px solid red;
          margin-right: 0.7rem;
          color: var(--white-opacity);
        }
      }
      animation: slideDown 3.1s ease-in;
    }

    @keyframes slideDown {
      0% {
        opacity: 0;
        top: 50px;
      }
      12% {
        opacity: 1;
        top: 60px;
      }
      84% {
        opacity: 1;
        top: 60px;
      }
      100% {
        opacity: 0;
        top: 70px;
      }
    }

    .navbar__avatar {
      height: 45px;
      cursor: pointer;
    }
  }
}

.navbar__black {
  // background: linear-gradient(180deg, black, var(--dark-grey));
  background-color: var(--dark-grey);
}
